// These styles override the Skeleton framework styles

/* Global Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html,body {
	color: #bbb;
}
a, a:hover {

}
p {

}
li {
}
h1, h2, h3, h4, h5 {

}
.container {
	background: #222;
}


/* Header Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
	background: #000;
}

nav {
	background: #333;
}

/* Main/Body Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */





/* Footer Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
footer {
	background: #000;
}

/* Miscellaneous Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */


